body {
  background-color: #33C3F0;
  font-family: 'Helvetica Neue', serif;
  color: #fff;
  text-align: center;    
}
main {
  margin: auto;
  position: absolute;
  top: 25%; left: 0; bottom: 0; right: 0;
}
input, button {
  background-color: transparent;
  font-family: 'Arial';
  color: #eee ;    
  border: 0;
  padding: 10px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #258EB4;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  background-color: #258EB4;
}
a:visited, a:hover, a:link {
  color: #0F3949;
}