body {
    background-color: #fcb825;
    color: #000000;
    font-family: 'Arial'; 
    font-size: 14px;
    text-align: center;
}

#title {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
}

.dateform {
    margin-top: 100px;

}

#answer {
    margin-top: 50px;
}

input {
    background-color: #FFF;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    width: 70px;
}

button {
    border: 0;
    border-radius: 5px;
    background-color: #FFF;
    width: 100px;
    height: 40px;
}